<%- include('../../fragments/header.ejs') %>
    <main>
        <h2>
            Formularz dodawania Czytelnika
        </h2>
        <form action="form-edit.html">
            <label for="firstName">Imię: *</label>
            <input type="text" name="firstName" id="firstName" value= "Jan" disabled>
            <span id="errorFirstName"></span>

            <label for="lastName">Nazwisko: *</label>
            <input type="text" name="lastName" id="lastName" value= "Kowalski" disabled>
            <span id="errorLastName"></span>

            <label for="date">Data dołączenia</label>
            <input type="date" name="date" id="date" value="2018-09-09" disabled>
            <span id="errorDate"></span>
            
            <div>

                <input class ="form-button-submit" type="submit" value="Edytuj">
            <a class ="form-button-cancel" href="list.html" onclick="confirmChange()">Anuluj</a>
            <p id="errorSummary"></p>
            </div>
            
        </form>
        <h2>
            Lista wypożyczonych książek
        </h2>
        <table class="table-list">
            <thead>
                <tr>
                    <th>Tytuł</th>
                    <th>Autor</th>
                    <th>Data wypożyczenia</th>
                    <th>Zwrócono?</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Mistrz i Małgorzata</td>
                    <td>Michaił Bułhahow</td>
                    <td>2021.24.09</td>
                    <td>Tak</td>
                </tr>
            </tbody>
        </table>
    </main>
<%- include('../../fragments/footer.ejs') %>