<%- include('../../fragments/header.ejs') %>
    <main>
        <h2>
            Formularz dodawania Czytelnika
        </h2>
        <form novalidate onsubmit=" return validateForm()">
            <label for="firstName">Imię: <span class="symbol-required">*</span></label>
            <input type="text" name="firstName" id="firstName" required>
            <span id="errorFirstName"></span>

            <label for="lastName">Nazwisko: <span class="symbol-required">*</span></label>
            <input type="text" name="lastName" id="lastName" required>
            <span id="errorLastName"></span>

            <label for="date">Data dołączenia <span class="symbol-required">*</span></label>
            <input type="date" name="date" id="date" value="2018-09-09" required>
            <span id="errorDate"></span>
            
            <div>

                <input class ="form-button-submit" onclick="confirmChange()" type="submit" value="Dodaj">
            <a class ="form-button-cancel" href="list.html" onclick="confirmChange()">Anuluj</a>
            <p id="errorSummary"></p>
            </div>
            
        </form>
    </main>
<%- include('../../fragments/footer.ejs') %>