<%- include('../../fragments/header.ejs') %>
    <main>
        <h2>
            Formularz dodawania Czytelnika
        </h2>
        <form action="list.html">
            <label for="firstName">Imię: *</label>
            <input class="error-input " type="text" name="firstName" id="firstName" value="Dominik" required>
            <span  id="errorFirstName">Coś tu nie gra</span>

            <label for="lastName">Nazwisko: *</label>
            <input type="text" name="lastName" id="lastName" required>
            <span id="errorLastName"></span>

            <label for="date">Data dołączenia</label>
            <input type="date" name="date" id="date" value="2018-09-09" required>
            <span id="errorDate"></span>
            
            <div>

                <input class ="form-button-submit" type="submit" value="Dodaj">
            <a class ="form-button-cancel" href="list.html" onclick="confirmChange()">Anuluj</a>
            <p id="errorSummary">Pole zawiera błędy</p>
            </div>
            
        </form>
    </main>
<%- include('../../fragments/footer.ejs') %>