<%- include('../../fragments/header.ejs') %>
    <main>
        <h2>
            Lista czytelników
        </h2>
<p>Brak rekordów do wyświetlenia</p>
        <p><a href="form.ejs">Dodaj nowego czytelnika</a></p>
    </main>
    <footer>
        Domninik Dudzik s23331
    </footer>
</body>
</html>