<%- include('./fragments/header.ejs') %>
    <main>
        <h2>
            Strona główna
        </h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, sed similique! Doloribus soluta autem magni officia excepturi enim similique omnis delectus ut reprehenderit sunt, veniam sapiente assumenda deserunt mollitia at.
        Unde, alias? Tempore facilis dolorem sequi provident assumenda vel id illum ratione autem modi, corporis totam laudantium nisi molestias et perspiciatis labore quaerat at! Cum debitis exercitationem nemo ipsum odio.
        Ex saepe, amet numquam consequatur commodi tenetur deleniti praesentium eaque dolorum nisi maxime beatae explicabo necessitatibus illo quae ipsam cumque eius fugiat quidem rerum? Ab laborum consectetur sapiente excepturi atque.
        Ut, nostrum in facilis illum omnis quidem exercitationem fugiat ad eos, soluta explicabo harum tenetur, animi ipsam neque iusto optio consectetur dicta. Sed earum consequuntur aliquam atque ipsum, omnis quisquam.
        In eaque iure a officiis expedita inventore hic unde impedit. Tenetur, voluptatum harum porro adipisci deserunt consectetur distinctio nulla maiores ut nam sint minima numquam, officia fugiat, excepturi a eum!</p>
    </main>
<%- include('./fragments/footer.ejs') %>
