<%- include('../../fragments/header.ejs') %>
    <main>
        <h2>
            Szczegóły wypożyczenia
        </h2>
        <form action="form-edit.html" id="AddBorrowingForm">
            


            <label for="Reader">Czytelnik:</label>
            <select name="Reader" id="Reader" form="AddBorrowingForm" disabled>
                
<!-- Będą grupowane po autorach, ułożone alfabetycznie, być może zrezygnuję z optgroup, jeśli będzie nie wygodne przy dłuższych listach  -->
                
                <optgroup label="A">
                    <option value="Abramczyk Mateusz">Abramczyk Mateusz</option>
                </optgroup>
                <optgroup label="B"></optgroup>
                <optgroup label="C"></optgroup>
                <optgroup label="..."></optgroup>
                <optgroup label="K">
                    <option value="Kowalski Jan" selected>Kowalski Jan</option>
                </optgroup>
                
            </select>
            <span id="errorReader"></span>

            <label for="BookTitle">Tytuł książki:</label>
            <select name="BookTitle" id="BookTitle" form="AddBorrowingForm" disabled>
                
<!-- Będą grupowane po autorach, ułożone alfabetycznie, być może zrezygnuję z optgroup, jeśli będzie nie wygodne przy dłuższych listach  -->
                
                <optgroup label="Franz Kafka">
                    <option value="Proces">Proces</option>
                    <option value="Metamorfoza">Metamorfoza</option>
                </optgroup>
                <optgroup label="Henryk Sienkiewicz">
                    <option value="Ogniem i Mieczem">Ogniem i Mieczem</option>
                    <option value="Quo vadis">Quo vadis</option>
                </optgroup>
                <optgroup label="Michaił Bułhakow">
                    <option value="Mistrz i Małgorzata" selected>Mistrz i Małgorzata</option>
                    <option value="Diaboliada">Diaboliada</option>
                </optgroup>
              </select>
            <span id="errorBookTitle"></span>



            <label for="date">Data wypożyczania:</label>
            <input type="date" name="date" id="date" disabled>
            <span id="errorDate"></span>

            <label for="returned">Zwrócono?:</label>
            <input type="checkbox" name="returned" id="returned" disabled checked >

            

            <div>

                <input class ="form-button-submit" onclick="confirmChange()" type="submit" value="Edytuj">
            <a class ="form-button-cancel" href="list.html" onclick="confirmChange()">Anuluj</a>
            <p id="errorSummary"></p>
            </div>
            
        </form>
        <!-- <h2>
            Historia wypożyczeń
        </h2>
        <table>
            <thead>
                <tr>
                    <th>Imie</th>
                    <th>Nazwisko</th>
                    <th>Data wypożyczenia</th>
                    <th>Zwrócono?</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Jan</td>
                    <td>Kowalski</td>
                    <td>2021.24.09</td>
                    <td>Tak</td>
                </tr>
            </tbody>
        </table> -->
    </main>
<%- include('../../fragments/footer.ejs') %>