<%- include('../../fragments/header.ejs') %>
    <main>
        <h2>
            Formularz wypożyczania książki
        </h2>
        <form  id="AddBorrowingForm" novalidate onsubmit="return validateForm()">
            <label for="BookTitle">Tytuł książki: <span class="symbol-required">*</span></label>
            <select name="BookTitle" id="BookTitle" form="AddBorrowingForm" required multiple>
                
<!-- Będą grupowane po autorach, ułożone alfabetycznie, być może zrezygnuję z optgroup, jeśli będzie nie wygodne przy dłuższych listach  -->
                
                <optgroup label="Franz Kafka">
                    <option value="Proces">Proces</option>
                    <option value="Metamorfoza">Metamorfoza</option>
                </optgroup>
                <optgroup label="Henryk Sienkiewicz">
                    <option value="Ogniem i Mieczem">Ogniem i Mieczem</option>
                    <option value="Quo vadis">Quo vadis</option>
                </optgroup>
                <optgroup label="Michaił Bułhakow">
                    <option value="Mistrz i Małgorzata">Mistrz i Małgorzata</option>
                    <option value="Diaboliada">Diaboliada</option>
                </optgroup>
              </select>
            <span id="errorBookTitle"></span>


            <label for="Reader">Czytelnik: <span class="symbol-required">*</span></label>
            <select name="Reader" id="Reader" form="AddBorrowingForm" required multiple>
                
<!-- Będą grupowane po autorach, ułożone alfabetycznie, być może zrezygnuję z optgroup, jeśli będzie nie wygodne przy dłuższych listach  -->
                
                <optgroup label="A">
                    <option value="Abramczyk Mateusz">Abramczyk Mateusz</option>
                </optgroup>
                <optgroup label="B"></optgroup>
                <optgroup label="C"></optgroup>
                <optgroup label="..."></optgroup>
                <optgroup label="K">
                    <option value="Kowalski Jan">Kowalski Jan</option>
                </optgroup>
                
            </select>
            <span id="errorReader"></span>

            <label for="date" >Data wypożyczania: <span class="symbol-required">*</span></label>
            <input type="date" name="date" id="Date" required >
            <span id="errorDate"></span>
            
            <label for="returned">Zwrócono?: </label>
            <input type="checkbox" name="returned" id="Returned" checked>
            <span id="errorReturned"></span>


            
            <div>
                <input class ="form-button-submit" onclick="confirmChange()" type="submit" value="Dodaj">
            <a class ="form-button-cancel" href="list.html" onclick="confirmChange()">Anuluj</a>
            <p id="errorSummary"></p>
            </div>
            
        </form>
    </main>
<%- include('../../fragments/footer.ejs') %>