<%- include('../../fragments/header.ejs') %>

<main>
        <h2>
            Wypożyczenia
        </h2>
        <table class="table-list">
            <thead>
                <tr>
                    <th>Czytelnik:</th>
                    <th>Autor:</th>
                    <th>Tytuł książki</th>
                    <th>Data wypożyczenia</th>
                    <th>Zwrócono?</th>
                    <th>Akcje</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>J. Kowalski</td>
                    <td>H. Sienkiewicz</td>
                    <td>Ogniem i Mieczem</td>
                    <td>2018-09-09</td>
                    <td>Tak</td>
                    <td><ul class="list-actions">
                        <li><a class= "list-actions-button-details" href="details.ejs">Szczegóły</a></li>
                        <li><a class= "list-actions-button-edit" href="form-edit.ejs">Edytuj</a></li>
                        <li><a class= "list-actions-button-delete" href="list-empty.ejs" onclick="confirmChange()">Usuń</a></li>
                    </ul></td>
                </tr>
                
            </tbody>
        </table>
        <p><a class="button-add" href="/add">Wypożycz książkę</a></p>
    </main>
<%- include('../../fragments/footer.ejs') %>
