<%- include('../../fragments/header.ejs') %>
    <main>
        <h2>
            Szczegóły książki
        </h2>
        <form action="form-edit.html">
            <label for="BookTitle">Tytuł książki:</label>
            <input type="text" name="BookTitle" id="BookTitle" value= "Mistrz i Małgorzata" disabled>
            <span id="errorTitle"></span>

            <label for="AuthorLastName">Nazwisko autora:</label>
            <input type="text" name="AuthorLastName" id="AuthorLastName" value= "Bułhahow" disabled>
            <span id="errorAuthorLastName"></span>

            <label for="AuthorFirstName">Imie autora:</label>
            <input type="text" name="AuthorFirstName" id="AuthorFirstName" value="Michaił" disabled>
            <span id="errorAuthorFirstName"></span>
            
            <label for="BookWeight">Waga książki:</label>
            <input type="text" name="BookWeight" id="BookWeight" value="7000g." disabled>
            <span id="errorBookWeight"></span>

            <label for="BookReleaseDate">Data wydania:</label>
            <input type="date" name="BookReleaseDate" id="BookReleaseDate" value="2018-09-09" disabled>
            <span id="errorDate"></span>
            
            <div>

                <input class ="form-button-submit" type="submit" value="Edytuj">
            <a class ="form-button-cancel" href="list.html" onclick="confirmChange()">Anuluj</a>
            <p id="errorSummary"></p>
            </div>
            
        </form>
        <h2>
            Historia wypożyczeń
        </h2>
        <table class="table-list">
            <thead>
                <tr>
                    <th>Imie</th>
                    <th>Nazwisko</th>
                    <th>Data wypożyczenia</th>
                    <th>Zwrócono?</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Jan</td>
                    <td>Kowalski</td>
                    <td>2021.24.09</td>
                    <td>Tak</td>
                </tr>
            </tbody>
        </table>
    </main>
<%- include('../../fragments/footer.ejs') %>